# Cannot yet fully replace MANIFEST.in by pyproject.toml if we use setuptools, see: https://github.com/pypa/setuptools/issues/3341
# Misc
include .coveragerc  # for compatibility with Py2, otherwise the coverage is configured in pyproject.toml
#include LICENSE
#include Makefile
#include README.md
#include README.rst
#include TODO.md

# Non-python files
include pyFileFixity/ecc_specification.txt  # done in pyproject.toml, but for Py2 we need to put it here
include pyFileFixity/resiliency_tester_config.txt  # idem

# Libraries
recursive-include pyFileFixity/lib *.py
recursive-include pyFileFixity/lib *.pyx  # Cython files, all were moved to their own modules in distinct repositories, but we may optimize some routines in the future
recursive-exclude pyFileFixity/lib/profilers *  # no need for profilers

# Test suite
recursive-include pyFileFixity/tests *.py  # unit test scripts
recursive-include pyFileFixity/tests/files *  # attach necessary files to run tests
recursive-include pyFileFixity/tests/results *  # attach necessary py-make config and resulting database files to run and compare tests results
include tox.ini
